
body {
	background-color: #EFBF7F;
	color: #0C5D7B;
}
h1 {
	font-size: 40px;
}
h2 {
  	font-size: 25px;
}
p {
	font-size: 20px;
}
table, td {
  	border: 1px solid #12103D;
  	background-color: #F8E4CC;
}
ul, ol {
  	margin: 5px;
}