.scroll-bar {
    background-color: var(--scroll-complementar);
    width: 100%;
    height: 5px;
    clear: both;
}

.scroll-bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff2;
}

@media screen and (max-width: 1149px) {
    .scroll-bar {opacity: 0;}
}