/*********** LEVELS ***********/
.sd_level1 {
    --name-fsize: 2.8em;
    --level-fsize: 1.3em;
    --width: 100%;
    --icon-size: 110px;
    --margin: 10px 0;
    --segment-height: 10px;
}

.sd_level2 {
    --name-fsize: 2.2em;
    --level-fsize: 1.1em;
    --width: 90%;
    --icon-size: 100px;
    --margin: 10px 0 10px 30px;
    --segment-height: 10px;
}

/*********** COLORS ***********/
.sd_disable {
    --bg-color: #aaa9;
    --segment-color: #bbb;
    --text-color: #bbb;
}

.sd_color1 {
    --bg-color: rgb(13, 110, 155);
    --segment-color: rgb(152, 224, 37);
    --text-color: #000;
}

.sd_color2 {
    --bg-color: rgb(233, 200, 15);
    --segment-color: rgb(7, 245, 225);
    --text-color: #000;
}